body{
    display:flex;
    margin:0px;
}
#left{
    background:#ffffff;
    display:inline-block;
    width:20%;
}
#content{
    background:lightgrey;
    display:inline-block;
    width:80%;
}

.ui-menuitem{
    background:lightgrey;
    min-width:95% !important;
    width: 98%;
}
.ui-menuitem-text{
    color:#000;
}
.ui-menu{
    min-width:95% !important;
    width: 98%;
}
.exportar{
    background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(222,222,222,1) 51%, rgba(150,150,150,1) 100%);
    display:inline-block;
    padding:10px 20px;
    border-radius:4px;
    margin-right:4px;
    margin-bottom:5px;
    text-decoration:none;
    font-weight:bold;
    border:1px solid grey;
}